header {
    width: 100%;
    background-color: var(--color-secondary-dark);
    padding: 1rem;
    position: fixed;
    z-index: 3;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

header ul li {
    padding: 1rem;
    list-style-type: none;
}

